services:
  - class: MabeEnumPHPStan\EnumMethodsClassReflectionExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension

  - class: MabeEnumPHPStan\EnumGetValueDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
